@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply border-b-2 border-grey relative mb-8 pb-2 text-3xl uppercase;
  }

  h4 {
    @apply border-b-2 border-grey relative mb-4 pb-2;
  }

  h1::after {
    @apply absolute left-0 bg-gold;
    height: 2px;
    width: 50px;
    bottom: -2px;
    content: '';
  }

  h4::after {
    @apply absolute left-0 bg-gold;
    height: 2px;
    width: 50px;
    bottom: -2px;
    content: '';
  }
}

a {
  @apply text-black transition-all;

  &:hover {
    @apply text-gold;
  }
}

p a {
  @apply underline;
}

.page-enter-active,
.page-leave-active {
  @apply transition-opacity;
}
.page-enter,
.page-leave-to {
  @apply opacity-0;
}

@screen lg {
  h1 {
    @apply mb-16;
  }
}
